
<style>
    h1 {color:rgb(10, 10, 10);}
    p {color:rgb(12, 12, 12);}
    body {
    background-color: #f3db04fa;
  }
  </style>
  <h1>Java</h1>
      <p>Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies. It is a computing platform for application development. Java is fast, secure, and reliable, therefore. It is widely used for developing Java applications in laptops, data centers, game consoles, scientific supercomputers, cell phones, etc.</p>